/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


/* #Basic Styles
================================================== */
	body {
		background: #f4eee9;
		font: 14px/21px "pt_sans", sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }


/* #Typography
================================================== */
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-family: "Georgia", "Times New Roman", serif;
		font-weight: normal; }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
	h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
	h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
	h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
	h5 { font-size: 17px; line-height: 24px; }
	h6 { font-size: 14px; line-height: 21px; }
	.subheader { color: #777; }

	p { margin: 0 0 20px 0; }
	p img { margin: 0; }
	p.lead { font-size: 21px; line-height: 27px; color: #777;  }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: 80%; }

/*	Blockquotes  */
	blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
	blockquote cite { display: block; font-size: 12px; color: #555; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Links
================================================== */
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
	ul, ol { margin-bottom: 20px; }
	ul { list-style: none outside; }
	ol { list-style: decimal; }
	ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
	ul.square { list-style: square outside; }
	ul.circle { list-style: circle outside; }
	ul.disc { list-style: disc outside; }
	ul ul, ul ol,
	ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }

/* #Images
================================================== */

	img.scale-with-grid {
		max-width: 100%;
		height: auto; }


/* #Buttons
================================================== */

	.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #87746b;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #fff !important;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		font-size: 12px;
		margin-bottom: 15px;
		line-height: normal;
		padding: 6px 10px;
		font-family: "pt_sans", sans-serif;
		border: none;
	}

	.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background: #cf3d1c;
		box-shadow: inset 1px 1px 5px #000;
	}

	.big_button {
		background: #b39e94;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		color: #fff !important;
		display: inline-block;
		text-decoration: none;
		cursor: pointer;
		font-size: 16px;
		margin-bottom: 15px;
		line-height: normal;
		padding: 13px 52px;
		font-family: "pt_sans", sans-serif;
		border: none;
	}

	.big_button:hover{
		background: #00aeff;
		box-shadow: none;
	}

	.button.full-width,
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width {
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }

	/* Fix for odd Mozilla border & padding issues */
	button::-moz-focus-inner,
	input::-moz-focus-inner {
    border: 0;
    padding: 0;
	}


/* #Forms
================================================== */

	form {
		margin-bottom: 20px; }
	fieldset {
		margin-bottom: 20px; }
	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea,
	select {
		border: 1px solid #ccc;
		padding: 9px 4%;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 14px "pt_sans", sans-serif;
		color: #777;
		margin: 0;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; 
		width: 91%;
}
	select {
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		/*border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); */}
	textarea {
		min-height: 130px; 
		resize: vertical;
}
	label,
	legend {
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select {
		width: 220px; }
	input[type="checkbox"] {
		display: inline; 
	}
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }

/* #Misc
================================================== */
	.remove-bottom { margin-bottom: 0 !important; }
	.half-bottom { margin-bottom: 10px !important; }
	.add-bottom { margin-bottom: 20px !important; }
/*general*/
.content {
	width: 940px;
	margin: 0 auto;
}
 .block_left {
 	float:left;
 }
 .block_right {
 	float: right;
 }
html, body, .conteiner_content {height: 100%;}

body > .conteiner_content {height: auto; min-height: 100%; 

}

.wrap {padding-bottom: 219px; margin-top: -135px; padding-top: 141px;}  /* отступ должен быть равен высоте футера */

footer {position: relative;
	margin-top: -219px; /* отрицательное значение высоты футера */
	height: 219px;
	clear:both;} 
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.alpha{
	margin-left: 0px !important;
	padding-left: 0px !important;
}
.omega {
	margin-right: 0px !important;
	padding-right: 0px !important;
}
.border_bottom {
	border-bottom: 1px solid #dedede;
}
/*header*/
header {
    position: relative;
    height: 135px;
}

.head_bg_one {
    position: absolute;  z-index: -1;  width: 100%;  
    min-height: 940px;  top: 0;  
    background: url(../images/bg/bg_header.jpg) top center no-repeat;
    left: 0;
}
.header_logo {
    float: left;
    padding-top: 16px;
}

.header_search_nav {
    float: right;
    width: 660px;
}

.masonry_catalog {
    width: 100%;
    overflow: hidden;
    padding-top: 24px;
    padding-bottom: 45px;
}

.header_nav {
    float: left;
    width: 386px;
    padding-bottom: 35px;
    padding-top: 44px;
}

.header_nav li {
    float: left;
    padding: 0 14px;
    margin: 0;
}

.header_nav a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: roboto, sans-serif;
}

.header_nav a.active {
    text-decoration: underline;
}

.header_search {
    float: left;
    width: 386px;
    position: relative;
}
.header_search .button {
	position: absolute;
	top: 0px;
	right:0;
	border: none;
	background: url(../images/images/search_but.png) center no-repeat;
	width: 51px;
	height: 31px;
}
.header_search input[type="text"] {
    width: 324px;
    padding-right: 51px;
    font-size: 16px;
    font-style: italic;
    background: rgba(0,0,0,0.3);
    color: #93867f;
    border: none;
    height: 11px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header_callback {
	float: right;
	width: 230px;
	padding-top: 44px;
	text-align: right;
}
.callback_phone {
	display: block;
	color: #fff;
	font-size: 24px;
	padding-bottom: 18px;
	line-height: 24px;
	font-family: roboto, sans-serif;
}
.callback_address  {
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	font-family: roboto, sans-serif;	
}
.callback_address span{
	display: block;
	padding-bottom: 8px;
}
.callback_address a{
	color: #fff;
	font-size: 14px;
	line-height: 14px;
}

.masonry_catalog li {
    float: left;
	padding: 6px;
	margin: 0px;
}
.masonry_catalog a:hover{
	background:#e2c600;
}
.masonry_catalog a {
   	width: 141px;
	height: 167px;
	position: relative;
	display: block;
	padding: 5px 18px;
	background: #f59e00;
	text-align: center;
	text-decoration: none;
}

.masonry_catalog span {
	color: #fff;
	font-family: roboto, sans-serif;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-table;
	position: relative;
	z-index: 1;
	padding-top: 127px;
	height: 40px;
}

.masonry_catalog font {
	vertical-align: middle;
	display: table-cell;
	line-height: 18px;
	font-size: 14px;
	text-align: center;
}

.masonry_catalog img {
    position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}
.masonry_catalog.type_two a:before{
	height: 42px;
	border: 8px solid #fff;
	width: 162px;
}
.masonry_catalog a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 5px solid #fff;
	opacity: 0.8;
	width: 167px;
	height: 167px;
	z-index: 10;
	display: none;
}
.masonry_catalog a:hover:before{
	display: block;
}
/*footer*/
.footer_sub {
    background: #3a312d;
    overflow: hidden;
    padding: 13px 0;
}

.footer_sub-address {
    color: #fff;
    float: left;
    padding-right: 42px;
    padding-top: 2px;
}

.footer_sub-phone {
    float: left;
    padding-top: 2px;
    color: #fff;
}

.footer_basket_buy {
    float: right;
    width: 360px;
    position: relative;
	padding-left: 40px;
}
.basket_buy_bascket {
    float: left;
}

.footer_basket_buy:before {
    content: "";
    position: absolute;
    width: 27px;
    height: 15px;
    top: 4px;
    left: 0;
    background: url(../images/images/footer_basket.png) no-repeat;
}

.basket_buy_bascket a {
    color: #fff;
    padding-right: 8px;
    padding-top: 2px;
}

.basket_buy_bascket span {
    color: #fff;
    padding-right: 15px;
}

.buy_basket-koll {
    border: 0;
    padding: 0 0 0 17px;
    position: relative;
}
.buy_basket-koll:before {
	content: "";
	position: absolute;
	left: 0px;
	top:0px;
	width: 1px;
	height: 100%;
	background: #685a51;
}
.buy_basket-koll:after{
	content: "";
	position: absolute;
	left: 1px;
	top:0px;
	width: 1px;
	height: 100%;
	background: #23130a;
}
.footer_basket_buy .button {
	margin: 0;
}
.footer_gen {
	background: url(../images/bg/bg_footer_cen.jpg);
	overflow: hidden;
	padding-top: 43px;
	height: 123px;
}
.footer_gen-left {
    float: left;
    width: 400px;
    position: relative;
}

.footer_gen-center {
    float: left;
    padding: 0 55px;
    position: relative;
}

.footer_gen-right {
    float: right;
    width: 180px;
}

.footer_gen-left:before {
    content: "";
    right: 0;
    top: 0;
    width: 0;
    height: 86px;
    position: absolute;
    border-left: 1px solid #716258;
    border-right: 1px solid #25150c;
}

.footer_logo {
    float: left;
}

.footer_menu {
    float: right;
    width: 200px;
    padding-right: 40px;
}

.footer_menu-name {
    font-size: 16px;
    color: #fff;
    padding-bottom: 8px;
    display: block;
    font-weight: bold;
}

.footer_menu a {
    color: #fff;
    font-size: 16px;
}

.footer_menu li {
    margin: 0;
    float: left;
    width: 99px;
    padding-bottom: 6px;
}

.footer_menu ul {
    margin: 0;
}

.gen_center-address {
    color: #fff;
    font-size: 16px;
    padding-bottom: 15px;
    display: block;
}

.gen_center-phone {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    padding-left: 34px;
    position: relative;
}

.gen_center-phone:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 22px;
    height: 24px;
    background: url(../images/images/footer_phone_num.png);
}

.footer_gen-center:before {
    content: "";  right: 0;  top: 0;  width: 0;  height: 86px;  position: absolute;  border-left: 1px solid #716258;  border-right: 1px solid #25150c;
}

.gen_right-name {
    color: #fff;
    font-size: 16px;
    display: block;
    padding-bottom: 6px;
}

.gen_right-time_work {
    padding-left: 31px;
    position: relative;
}

.gen_right-time_work:before {
    position: absolute;  content: "";  top: 0;  left: 0;  width: 22px;  height: 24px;  
    background: url(../images/images/footer_timework.png);
}

.gen_right-time_work li {
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}